<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Template</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container">
            <div class="collapse navbar-collapse" id="navcol-1"></div>
        </div>
    </nav>
    <main class="text-center">
        <div class="text-center d-flex justify-content-center title">
            <h3>Übersicht der Stationen</h3>
        </div>
        <div class="d-flex justify-content-center">
            <div style="width: 360px;">
                <div class="d-flex justify-content-center">
                    <div class="table-responsive" style="background-color: #fefefe;">
                        <table class="table" id="tblGewinnerKlasse">
                            <thead class="table-header">
                                <tr>
                                    <th>Station</th>
                                    <th>Ort</th>
                                    <th>Punkte</th>
                                    <th>Zeit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table-row">
                                    <td>Brettspiele</td>
                                    <td>A005</td>
                                    <td>5</td>
                                    <td>09:00 - 12:00</td>
                                </tr>
                                <tr class="table-row">
                                    <td>Jonglieren</td>
                                    <td>A007</td>
                                    <td>10</td>
                                    <td>09:30 - 12:30</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
